.topLeft {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 30px;
}

.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 30px;

}
.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 30px;
}
